<div class="body">
    <div class="container">
      <!-- navbar -->
      <nav class="navbar navbar-expand-lg">
        <a class="navbar-brand" href="#">Brainwave.io</a>
        <!-- button for small screen -->
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarText"
          aria-controls="navbarText"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link" href="#">Demos</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Pages </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Support</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/form/contact">Contact</a>
            </li>
          </ul>
          <span class="navbar-text">
            <button type="button" class="btn btn-primary">
              Get started a project
            </button>
          </span>
        </div>
      </nav>
  
      <!-- Let’s shift your business -->
      <section class="row">
        <div class="col-lg-6 col-md-6">
          <div class="section-1">
            <p class="headline">Let’s shift your business</p>
            <p class="subheadline">
              Shift your business <br />
              fast with Shade Pro.
            </p>
            <p class="description">
              With lots of unique blocks, you can easily build a page <br />
              without coding. Build your next consultancy website within <br />
              few minutes.
            </p>
            <button type="button" class="btn btn-primary call-to-action">
              Get started a project
            </button>
          </div>
        </div>
  
        <div class="col-lg-6 col-md-6">
          <div class="section-2">
            <!-- Separate Image -->
            <div class="separate-image">
              <img
                class="img1 img-fluid"
                src="../assets/images/screen1/Fill 1.jpg"
                alt="dot"
                width="107"
                height="109"
              />
            </div>
            <!-- Stacked Images -->
            <div class="stacked-images">
              <img
                class="image img-fluid img2"
                src="../assets/images/screen1/Oval.jpg"
                alt="Oval"
                width="463"
                height="463"
              />
              <img
                class="image img-fluid img3"
                src="../assets/images/screen1/round.png"
                alt="round"
                width="124"
                height="107.06"
              />
              <img
                class="image img-fluid img4"
                src="../assets/images/screen1/waves.png"
                alt="waves"
                width="24.21"
                height="78.35"
              />
            </div>
          </div>
        </div>
      </section>
  
      <!-- our services -->
      <section class="services py-5">
        <div class="text-center">
          <!-- Section Header -->
          <h6 class="text-uppercase text-danger mb-3">Our Services</h6>
          <h2 class="mb-5 font-weight-bold">
            We provide great services for our <br />
            customers based on needs
          </h2>
  
          <!-- Service Cards -->
          <div class="row">
            <div class="col-md-4 mb-4">
              <div
                class="card service-card shadow-lg card-bg-color-1 text-center text-white"
              >
                <div class="card-body py-5">
                  <img
                    src="../assets/images/screen2/graphic-design.png"
                    alt="Graphic Design"
                    class="img-fluid mb-3"
                    height="132.35"
                    width="117.75"
                  />
                  <h4 class="card-title">Graphic Design</h4>
                  <p class="card-text">
                    With lots of unique blocks, you can <br />
                    easily build a page without coding. <br />
                    Build your next landing page.
                  </p>
                  <a href="#" class="btn btn-link text-white"
                    >Learn more <span>&rarr;</span></a
                  >
                </div>
              </div>
            </div>
  
            <div class="col-md-4 mb-4">
              <div
                class="card service-card shadow-lg card-bg-color-2 text-center text-white"
              >
                <div class="card-body py-5">
                  <img
                    src="../assets/images/screen2/web-development.png"
                    alt="Web Development"
                    class="img-fluid mb-3"
                    height="134.52"
                    width="145.46"
                  />
                  <h4 class="card-title">Web Development</h4>
                  <p class="card-text">
                    With lots of unique blocks, you can <br />
                    easily build a page without coding. <br />
                    Build your next landing page.
                  </p>
                  <a href="#" class="btn btn-link text-white"
                    >Learn more <span>&rarr;</span></a
                  >
                </div>
              </div>
            </div>
  
            <div class="col-md-4 mb-4">
              <div
                class="card service-card shadow-lg card-bg-color-3 text-center text-white"
              >
                <div class="card-body py-5">
                  <img
                    src="../assets/images/screen2/content-writing.png"
                    alt="Content Writing"
                    class="img-fluid mb-3"
                    height="142.35"
                    width="114.58"
                  />
                  <h4 class="card-title">Content Writing</h4>
                  <p class="card-text">
                    With lots of unique blocks, you can <br />
                    easily build a page without coding.<br />
                    Build your next landing page.
                  </p>
                  <a href="#" class="btn btn-link text-white"
                    >Learn more <span>&rarr;</span></a
                  >
                </div>
              </div>
            </div>
          </div>
  
          <!-- <img
            class="dot-img"
            src="../assets/images/screen2/Group_101.png"
            alt="dot_group"
            width="79px"
          /> -->
        </div>
  
        <div class="row justify-content-center mt-5">
          <div class="col-lg-2">
            <img
              src="../assets/images/screen2/user_img.png"
              alt="User Image"
              height="164"
              width="164"
            />
          </div>
          <div class="col-md-8">
            <div class="our-service-stars">★★★★★</div>
            <p class="our-service-text">
              “OMG! I cannot believe that I have got a brand new landing page
              after getting Albino. It was super easy to edit and publish.”
            </p>
            <div class="our-service-author">
              Franklin Hicks <span>Web Developer</span>
            </div>
          </div>
        </div>
      </section>
  
      <div class="hr"></div>
  
      <!-- our story -->
      <section class="our_story pt-5">
        <div class="row">
          <div class="col-lg-12 col-md-12 text-center">
            <div class="section-title">Our Story</div>
            <h1 class="main-heading">
              We know how everything works <br />
              and why your business is failing <br />
              over and over again.
            </h1>
          </div>
        </div>
  
        <!-- slide-animation -->
        <div class="row">
          <div class="col-lg-12 col-md-12">
            <!-- image-slider -->
            <div class="slide-container">
              <div class="slider d-flex">
                <div class="slide">
                  <div class="card border-0">
                    <img
                      class="img-sliding"
                      src="../assets/images/screen3/1.png"
                      alt=""
                      height="200px"
                      width="250px"
                    />
                    <div class="card-body">
                      <p class="card-text">
                        We share common trends and strategies for improving your
                        rental income and making sure you stay in high demand.
                        With lots of unique blocks, you can easily build a page
                        without coding. Build your next landing page.
                      </p>
                    </div>
                  </div>
                </div>
  
                <div class="slide">
                  <div class="card border-0">
                    <img
                      class="img-sliding"
                      src="../assets/images/screen3/2.png"
                      alt=""
                      height="200px"
                      width="250px"
                    />
                    <div class="card-body">
                      <p class="card-text">
                        We share common trends and strategies for improving your
                        rental income and making sure you stay in high demand.
                        With lots of unique blocks, you can easily build a page
                        without coding. Build your next landing page.
                      </p>
                    </div>
                  </div>
                </div>
  
                <div class="slide">
                  <div class="card border-0">
                    <img
                      class="img-sliding"
                      src="../assets/images/screen3/3.png"
                      alt=""
                      height="200px"
                      width="250px"
                    />
                    <div class="card-body">
                      <p class="card-text">
                        We share common trends and strategies for improving your
                        rental income and making sure you stay in high demand.
                        With lots of unique blocks, you can easily build a page
                        without coding. Build your next landing page.
                      </p>
                    </div>
                  </div>
                </div>
  
                <div class="slide">
                  <div class="card border-0">
                    <img
                      class="img-sliding"
                      src="../assets/images/screen3/1.png"
                      alt=""
                      height="200px"
                      width="250px"
                    />
                    <div class="card-body">
                      <p class="card-text">
                        We share common trends and strategies for improving your
                        rental income and making sure you stay in high demand.
                        With lots of unique blocks, you can easily build a page
                        without coding. Build your next landing page.
                      </p>
                    </div>
                  </div>
                </div>
  
                <div class="slide">
                  <div class="card border-0">
                    <img
                      class="img-sliding"
                      src="../assets/images/screen3/2.png"
                      alt=""
                      height="200px"
                      width="250px"
                    />
                    <div class="card-body">
                      <p class="card-text">
                        We share common trends and strategies for improving your
                        rental income and making sure you stay in high demand.
                        With lots of unique blocks, you can easily build a page
                        without coding. Build your next landing page.
                      </p>
                    </div>
                  </div>
                </div>
  
                <div class="slide">
                  <div class="card border-0">
                    <img
                      class="img-sliding"
                      src="../assets/images/screen3/3.png"
                      alt=""
                      height="200px"
                      width="250px"
                    />
                    <div class="card-body">
                      <p class="card-text">
                        We share common trends and strategies for improving your
                        rental income and making sure you stay in high demand.
                        With lots of unique blocks, you can easily build a page
                        without coding. Build your next landing page.
                      </p>
                    </div>
                  </div>
                </div>
  
                <div class="slide">
                  <div class="card border-0">
                    <img
                      class="img-sliding"
                      src="../assets/images/screen3/1.png"
                      alt=""
                      height="200px"
                      width="250px"
                    />
                    <div class="card-body">
                      <p class="card-text">
                        We share common trends and strategies for improving your
                        rental income and making sure you stay in high demand.
                        With lots of unique blocks, you can easily build a page
                        without coding. Build your next landing page.
                      </p>
                    </div>
                  </div>
                </div>
  
                <div class="slide">
                  <div class="card border-0">
                    <img
                      class="img-sliding"
                      src="../assets/images/screen3/2.png"
                      alt=""
                      height="200px"
                      width="250px"
                    />
                    <div class="card-body">
                      <p class="card-text">
                        We share common trends and strategies for improving your
                        rental income and making sure you stay in high demand.
                        With lots of unique blocks, you can easily build a page
                        without coding. Build your next landing page.
                      </p>
                    </div>
                  </div>
                </div>
  
                <div class="slide">
                  <div class="card border-0">
                    <img
                      class="img-sliding"
                      src="../assets/images/screen3/3.png"
                      alt=""
                      height="200px"
                      width="250px"
                    />
                    <div class="card-body">
                      <p class="card-text">
                        We share common trends and strategies for improving your
                        rental income and making sure you stay in high demand.
                        With lots of unique blocks, you can easily build a page
                        without coding. Build your next landing page.
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
  
        <!-- stats-section  -->
        <div class="stats-section">
          <div class="row">
            <div class="col-md-4 stat-item">
              <h2>1M+</h2>
              <p>Customers visit Omega every month to get their service done.</p>
            </div>
            <div class="col-md-4 stat-item">
              <h2>92%</h2>
              <p>Satisfaction rate comes from our awesome customers.</p>
            </div>
            <div class="col-md-4 stat-item">
              <h2>4.9/5.0</h2>
              <p>Average customer ratings we have got all over the internet.</p>
            </div>
          </div>
        </div>
      </section>
  
      <!-- why choose us -->
      <section class="why_choose">
        <h6 class="why_choose_heading text-center text-danger">WHY CHOOSE US</h6>
        <h2 class="why_choose_subheading text-center">
          People choose us because we <br />
          serve the best for everyone
        </h2>
  
        <div class="row justify-content-center mt-5">
          <div class="col-lg-6 d-flex justify-content-center">
            <div class="icon-box mx-4">
              <img
                class="img-fluid"
                src="../assets/images/screen4/Icon.png"
                alt=""
                height="79"
                width="79"
              />
            </div>
            <div class="feature">
              <h5 class="feature-heading">Dedicated project manager</h5>
              <p class="feature-text">
                With lots of unique blocks, you can <br />
                easily build a page without coding. <br />
                Build your next landing page.
              </p>
            </div>
          </div>

          <div class="col-lg-6 d-flex justify-content-center">
            <div class="icon-box mx-4">
              <img
                class="img-fluid"
                src="../assets/images/screen4/Icon (1).png"
                alt=""
                height="79"
                width="79"
              />
            </div>
            <div class="feature">
              <h5 class="feature-heading">Organized tasks</h5>
              <p class="feature-text">
                With lots of unique blocks, you can <br />
                easily build a page without coding. <br />
                Build your next landing page.
              </p>
            </div>
          </div>

          <div class="col-lg-6 d-flex justify-content-center">
            <div class="icon-box mx-4">
              <img
                class="img-fluid"
                src="../assets/images/screen4/Icon (2).png"
                alt=""
                height="79"
                width="79"
              />
            </div>
            <div class="feature">
              <h5 class="feature-heading">Easy feedback sharing</h5>
              <p class="feature-text">
                With lots of unique blocks, you can <br />
                easily build a page without coding. <br />
                Build your next landing page.
              </p>
            </div>
          </div>

          <div class="col-lg-6 d-flex justify-content-center">
            <div class="icon-box mx-4">
              <img
                class="img-fluid"
                src="../assets/images/screen4/Icon (3).png"
                alt=""
                height="79"
                width="79"
              />
            </div>
            <div class="feature">
              <h5 class="feature-heading">Never miss deadline</h5>
              <p class="feature-text">
                With lots of unique blocks, you can <br />
                easily build a page without coding. <br />
                Build your next landing page.
              </p>
            </div>
          </div>
        </div>
  
        <div class="hr mt-5"></div>
  
        <div class="row mt-5">
          <div class="col-lg-9">
            <h3 class="next_project_heading">
              Ready to launch your next project?
            </h3>
            <p class="next_project_text">
              With lots of unique blocks, you can easily build a page without<br />
              coding. Build your next landing page.
            </p>
          </div>
          <div class="col-lg-3">
            <a href="#" class="btn btn-primary call-to-action pt-3"
              >Get started a project</a
            >
          </div>
        </div>
      </section>
  
      <!-- case study -->
      <section class="case_study">
        <div class="section-case-study mt-5">
          <h6 class="case_heading">CASE STUDIES</h6>
          <h2 class="case_subheading">
            Our works describe why we are <br />
            the best in the business
          </h2>
        </div>
  
        <div class="row mt-5">
          <div class="col-md-6 case-study-content">
            <img
              class="img-fluid"
              src="../assets/images/screen5/Img.png"
              alt="Aura Branding Design"
              height="540"
              width="500"
            />
            <h5>Graphic Design</h5>
            <h3>Aura Branding Design</h3>
          </div>
          <div class="col-md-6 case-study-content">
            <img
              class="img-fluid"
              src="../assets/images/screen5/Img (1).png"
              alt="A.B.S Snack Packaging"
              height="342"
              width="500"
            />
            <h5>Graphic Design</h5>
            <h3>A.B.S Snack Packaging</h3>
          </div>
          <div class="col-md-6 case-study-content">
            <img
              class="img-fluid"
              src="../assets/images/screen5/Img (2).png"
              alt="Gradient Website Development"
              height="346"
              width="500"
            />
            <h5>Web Development</h5>
            <h3>Gradient Website Development</h3>
          </div>
          <div class="col-md-6 case-study-content">
            <img
              class="magazine-img img-fluid"
              src="../assets/images/screen5/Img (3).png"
              alt="Magazine Content Writing"
              height="540"
              width="500"
            />
            <h5>Content Writing</h5>
            <h3>Magazine Content Writing</h3>
          </div>
        </div>
  
        <div class="see-all-works">
          <a href="#" class="btn btn-link see-more">See all works →</a>
        </div>
      </section>
    </div>
  
    <!-- Testimonial Section -->
    <div class="wrapper p-0 m-0">
      <div class="testimonial mt-5 text-center">
        <p>TESTIMONIAL</p>
        <h3>
          "Simply the best. Better than all the rest. I’d <br />
          recommend this product to beginners and <br />
          advanced users."
        </h3>
        <img
          src="../assets/images/screen6/man_user.png"
          alt="User Image"
          height="76"
          width="76"
        />
        <h5>Ian Klein</h5>
        <span>Digital Marketer</span>
      </div>
  
      <!-- Launch Section -->
      <div class="container-fluid">
        <div class="row launch-section">
          <div class="col-lg-6">
            <h3>Ready to launch your next project?</h3>
            <p>
              With lots of unique blocks, you can easily build a page without<br />
              coding. Build your next landing page.
            </p>
          </div>
          <div class="col-lg-6">
            <a href="#" class="btn btn-primary call-to-action pt-3"
              >Get started a project</a
            >
          </div>
        </div>
      </div>
  
      <div class="hr-line"></div>
  
      <!-- Footer -->
      <footer class="pt-5">
        <div class="container">
          <div class="row">
            <div class="col-md-3">
              <h5>Brainwave.io</h5>
              <p>
                With lots of unique blocks, you can easily build a page without
                coding. Build your next landing page.
              </p>
              <div class="social-icons">
                <a href="#"
                  ><img
                    src="../assets/images/screen6/twitter.png"
                    alt="twitter"
                    height="15"
                    width="17"
                /></a>
                <a href="#"
                  ><img
                    src="../assets/images/screen6/logo-facebook.png"
                    alt="facebook"
                    height="18"
                    width="18"
                /></a>
                <a href="#"
                  ><img
                    src="../assets/images/screen6/logo-instagram.png"
                    alt="instagram"
                    height="18"
                    width="18"
                /></a>
                <a href="#"
                  ><img
                    src="../assets/images/screen6/logo-linkedin.png"
                    alt="linkedin"
                    height="18"
                    width="18"
                /></a>
              </div>
            </div>
            <div class="col-md-2">
              <h5 class="footer-heading">Company</h5>
              <ul class="list-unstyled">
                <li><a href="#">About us</a></li>
                <li><a href="#">Contact us</a></li>
                <li><a href="#">Careers</a></li>
                <li><a href="#">Press</a></li>
              </ul>
            </div>
            <div class="col-md-2">
              <h5 class="footer-heading">Product</h5>
              <ul class="list-unstyled">
                <li><a href="#">Features</a></li>
                <li><a href="#">Pricing</a></li>
                <li><a href="#">News</a></li>
                <li><a href="#">Help desk</a></li>
                <li><a href="#">Support</a></li>
              </ul>
            </div>
            <div class="col-md-2">
              <h5 class="footer-heading">Services</h5>
              <ul class="list-unstyled">
                <li><a href="#">Digital Marketing</a></li>
                <li><a href="#">Content Writing</a></li>
                <li><a href="#">SEO for Business</a></li>
                <li><a href="#">UI Design</a></li>
              </ul>
            </div>
            <div class="col-md-3">
              <h5 class="footer-heading">Legal</h5>
              <ul class="list-unstyled">
                <li><a href="#">Privacy Policy</a></li>
                <li><a href="#">Terms & Conditions</a></li>
                <li><a href="#">Return Policy</a></li>
              </ul>
            </div>
          </div>
        </div>
      </footer>
    </div>
  </div>
  